body {
    background-color: #e86161;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #59de76;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  